<div class="container">
    <div class="background-text">
        <div>Smart-Calc</div>
    </div>
    <div class="center-circle">
        <div class="quadrant lightgrey" (click)="pageNavigation()">×</div>
        <div class="quadrant darkblue" (click)="pageNavigation()">÷</div>
        <div class="quadrant darkblue" (click)="pageNavigation()">−</div>
        <div class="quadrant lightgrey" (click)="pageNavigation()">+</div>
    </div>
    <div class="outer-circle">
        <div class="number" *ngFor="let item of catagory; let i = index" [ngStyle]="getNumberStyle(i, catagory.length)">
            {{ item.title }}
        </div>
    </div>
</div>